{% extends 'base.html' %}

{% block title %}
    Deposit - AKIBANIPESA
{% endblock %}

{% block content %}
    {% include 'more_menu_members.html' %}
    <div class="container mt-5 p-4" style="background-color: #f8f9fa; border-radius: 8px;">
        <!-- Message display section -->
        {% if messages %}
        <div class="mt-4">
            {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        </div>
        {% endif %}
        <h1 class="text-center mb-4">Deposit for {{ member.first_name }} {{ member.last_name }}</h1>
        <form method="POST" class="bg-white shadow p-4 rounded mx-auto" style="max-width: 500px;">
            {% csrf_token %}
            <div class="form-group">
                <label for="account_type" class="form-label">Account Type</label>
                <select class="form-control" id="account_type" name="account_type">
                    <option value="savings">Savings</option>
                    <option value="share_capital">Share Capital</option>
                   
                </select>
            </div>
            <div class="form-group">
                <label for="amount" class="form-label">Amount</label>
                <input type="text" class="form-control" id="amount" name="amount">
            </div>
            <div class="form-group">
                <label for="external_ref_code" class="form-label">External Reference Code</label>
                <input type="text" class="form-control" id="external_ref_code" name="external_ref_code">
            </div>
            <button type="submit" class="btn btn-primary">Deposit</button>
        </form>
    </div>
{% endblock %}
