{% extends 'base.html' %}
{% load humanize %}

{% block title %}
    Member Profile - AKIBANIPESA
{% endblock %}

{% block content %} 
    {% include 'more_menu_members.html' %}
    <div class="container mx-auto mt-8 px-4">
	<div class="text-center mb-8">
            <h1 class="text-3xl font-bold mt-4">{{ member.first_name }} {{ member.last_name }}  Profile</h1>
        </div>
        <div class="text-center mb-8">
            {% if member.client_photo %}
                <img src="{{ member.client_photo.url }}" alt="Member Photo" class="w-48 h-48 object-cover rounded-full mx-auto">
            {% else %}
                <p>No photo found.</p>
            {% endif %}
        </div>
        
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6"> <!-- Adjusted gap-6 for smaller gap -->
            <!-- Personal Details Card -->
            <div class="bg-white shadow-md rounded-lg p-4"> <!-- Adjusted p-4 for smaller padding -->
                <h2 class="text-lg font-semibold mb-2">Personal Details</h2>
                <table class="min-w-full divide-y divide-gray-200">
                    <tbody class="bg-white divide-y divide-gray-200">
                        <tr>
                            <td class="px-3 py-2 whitespace-nowrap"><strong>Name:</strong></td>
                            <td class="px-3 py-2">{{ member.first_name }} {{ member.middle_name }} {{ member.last_name }}</td>
                        </tr>
                        <tr>
                            <td class="px-3 py-2 whitespace-nowrap"><strong>National ID:</strong></td>
                            <td class="px-3 py-2">{{ member.member_national_id }}</td>
                        </tr>
                        <tr>
                            <td class="px-3 py-2 whitespace-nowrap"><strong>Registration Date:</strong></td>
                            <td class="px-3 py-2">{{ member.registration_date|date:"F d, Y" }}</td>
                        </tr>
                        <tr>
                            <td class="px-3 py-2 whitespace-nowrap"><strong>Phone Number:</strong></td>
                            <td class="px-3 py-2">{{ member.phone_number }}</td>
                        </tr>
                        <tr>
                            <td class="px-3 py-2 whitespace-nowrap"><strong>Secondary Phone Number:</strong></td>
                            <td class="px-3 py-2">{{ member.secondary_phone_number }}</td>
                        </tr>
                        <tr>
                            <td class="px-3 py-2 whitespace-nowrap"><strong>Email:</strong></td>
                            <td class="px-3 py-2">{{ member.email }}</td>
                        </tr>
                        <tr>
                            <td class="px-3 py-2 whitespace-nowrap"><strong>Date of Birth:</strong></td>
                            <td class="px-3 py-2">{{ member.date_of_birth|date:"F d, Y" }}</td>
                        </tr>
                        <tr>
                            <td class="px-3 py-2 whitespace-nowrap"><strong>Gender:</strong></td>
                            <td class="px-3 py-2">{{ member.gender }}</td>
                        </tr>
                        <tr>
                            <td class="px-3 py-2 whitespace-nowrap"><strong>Client Type:</strong></td>
                            <td class="px-3 py-2">{{ member.client_type }}</td>
                        </tr>
                        <tr>
                            <td class="px-3 py-2 whitespace-nowrap"><strong>Marital Status:</strong></td>
                            <td class="px-3 py-2">{{ member.marital_status }}</td>
                        </tr>
                        <tr>
                            <td class="px-3 py-2 whitespace-nowrap"><strong>Address:</strong></td>
                            <td class="px-3 py-2">{{ member.address }}</td>
                        </tr>
                        <tr>
                            <td class="px-3 py-2 whitespace-nowrap"><strong>Town:</strong></td>
                            <td class="px-3 py-2">{{ member.town }}</td>
                        </tr>
                        <tr>
                            <td class="px-3 py-2 whitespace-nowrap"><strong>Profession:</strong></td>
                            <td class="px-3 py-2">{{ member.profession }}</td>
                        </tr>
                        <tr>
                            <td class="px-3 py-2 whitespace-nowrap"><strong>Spouse Name:</strong></td>
                            <td class="px-3 py-2">{{ member.spouse_name }}</td>
                        </tr>
                        <tr>
                            <td class="px-3 py-2 whitespace-nowrap"><strong>Spouse Address:</strong></td>
                            <td class="px-3 py-2">{{ member.spouse_address }}</td>
                        </tr>
                        <tr>
                            <td class="px-3 py-2 whitespace-nowrap"><strong>Updated At:</strong></td>
                            <td class="px-3 py-2">{{ member.updated_at|date:"F d, Y H:i" }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- Financial Details Card -->
            <div class="bg-white shadow-md rounded-lg p-4"> <!-- Adjusted p-4 for smaller padding -->
                <h2 class="text-lg font-semibold mb-2">Financial Details</h2>
                <table class="min-w-full divide-y divide-gray-200">
                    <tbody class="bg-white divide-y divide-gray-200">
                  
                        <tr>
                            <td class="px-3 py-2 whitespace-nowrap"><strong>Savings Amount:</strong></td>
                            <td class="px-3 py-2">Ksh {{ member.memberaccount.savings|intcomma }}</td>
                        </tr>
                        <tr>
                            <td class="px-3 py-2 whitespace-nowrap"><strong>Share Capital Amount:</strong></td>
                            <td class="px-3 py-2">Ksh {{ member.memberaccount.share_capital|intcomma }}</td>
                        </tr>
                        <tr>
                            <td class="px-3 py-2 whitespace-nowrap"><strong>Employment Status:</strong></td>
                            <td class="px-3 py-2">{{ member.employment_status }}</td>
                        </tr>
                        <tr>
                            <td class="px-3 py-2 whitespace-nowrap"><strong>Employment Income:</strong></td>
                            <td class="px-3 py-2">Ksh {{ member.employment_income|intcomma }}</td>
                        </tr>
                        <tr>
                            <td class="px-3 py-2 whitespace-nowrap"><strong>Total Loans Taken:</strong></td>
                            <td class="px-3 py-2">Ksh {{ total_loans_taken|intcomma }}</td>
                        </tr>
                        <tr>
                            <td class="px-3 py-2 whitespace-nowrap"><strong>Active Loan Principal:</strong></td>
                            <td class="px-3 py-2">Ksh {{ active_loan_principal|intcomma }}</td>
                        </tr>
                        <tr>
                            <td class="px-3 py-2 whitespace-nowrap"><strong>Active Loan Balance:</strong></td>
                            <td class="px-3 py-2">Ksh {{ active_loan_balance|intcomma }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Back to Members Button -->
        <div class="text-center mt-6"> <!-- Adjusted mt-6 for smaller margin top -->
            <a href="{% url 'members:view_members' %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                Back to Members
            </a>
        </div>
    </div>
{% endblock %}
