{% extends "base.html" %}
{% block content %}
<div class="container mx-auto mt-8 px-4">
    <h2 class="text-2xl font-bold mb-4">Add Collateral for {{ entity.entity_name }}'s Loan</h2>
    
    <!-- Message display section -->
    {% if messages %}
    <div class="mb-4">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags|default:'info' }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    </div>
    {% endif %}
    <form method="post" class="max-w-md bg-white shadow-md rounded-lg p-6 mx-auto mb-4">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-md mt-4 inline-block">Add Collateral</button>
    </form>

    <h3 class="text-lg font-semibold mb-2">Existing Collaterals</h3>
    <ul class="mb-4">
        {% for collateral in collaterals %}
        <li class="mb-2">
            <span class="text-gray-700">{{ collateral.collateral_type }}: {{ collateral.document_ref_no }} - Ksh {{ collateral.value }}</span>
            <a href="{% url 'loans:delete_collateral_entity' entity.id loan.id collateral.id %}" class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 rounded-md ml-2">[X]</a>
        </li>
        {% endfor %}
    </ul>
    <button onclick="window.location.href='{% url 'loans:guarantors_entity' entity.id loan.id %}'" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-md">Next</button>
</div>
{% endblock %}
