{% extends 'base.html' %}

{% block title %}
    Loan Eligibility Summary - AKIBANIPESA
{% endblock %}

{% block content %}
<div class="container mx-auto mt-8 px-4">
    <h1 class="text-2xl font-bold mb-4">Loan Eligibility Summary Entity</h1>
    <p>Entity ID: {{ entity.id }}</p>
    <p>Entity Name: {{ entity.entity_name }}</p>
    
    {% if eligibility_results.qualified %}
        <div class="alert alert-success mt-4" role="alert">
            Congratulations! You are eligible for the loan.
        </div>
        <!-- Add button to proceed to collaterals -->
        <a href="{% url 'loans:collaterals_entity' entity_id=entity.id %}" class="btn btn-primary mt-4">Proceed to Collaterals</a>
    {% else %}
        <div class="alert alert-danger mt-4" role="alert">
            <p class="font-weight-bold">Sorry, you are not eligible for the loan due to the following reasons:</p>
            <ul class="mt-2">
                {% if eligibility_results.reasons %}
                    {% for reason in eligibility_results.reasons %}
                        <li>{{ reason }}</li>
                    {% endfor %}
                {% else %}
                    <li>{{ eligibility_results.reason }}</li>
                {% endif %}
            </ul>
        </div>
        
        <!-- Add button to search for another entity -->
        <a href="{% url 'loans:search_member_or_entity' %}" class="btn btn-primary mt-4">Search Another Entity</a>
    {% endif %}
</div>
{% endblock %}
