{% extends 'base.html' %}
{% load humanize %}
{% block title %}
    Details - AKIBANIPESA
{% endblock %}

{% block content %}
<div class="container mx-auto mt-8 px-4">
    <h2 class="text-2xl font-bold mb-4">Details</h2>
    <div class="bg-white shadow-md rounded-lg p-6 mx-auto mb-4">
        {% if member %}
            <p class="text-sm font-medium text-gray-700 mb-2">Member ID: <span class="font-bold">{{ member.id }}</span></p>
            <p class="text-sm font-medium text-gray-700 mb-2">National ID: <span class="font-bold">{{ member.member_national_id }}</span></p>
            <p class="text-sm font-medium text-gray-700 mb-2">Name: <span class="font-bold">{{ member.first_name }} {{ member.last_name }}</span></p>
        {% elif entity %}
            <p class="text-sm font-medium text-gray-700 mb-2">Entity ID: <span class="font-bold">{{ entity.id }}</span></p>
            <p class="text-sm font-medium text-gray-700 mb-2">Name: <span class="font-bold">{{ entity.name }}</span></p>
        {% endif %}
        <p class="text-sm font-medium text-gray-700 mb-2">Savings Amount: <span class="font-bold">{{ savings_amount|intcomma }}</span></p>
        <p class="text-sm font-medium text-gray-700 mb-2">Loan Balance: <span class="font-bold">{{ loan_amount|intcomma }}</span></p>
        {% if member %}
            <p class="text-sm font-medium text-gray-700 mb-2">Guaranteed Amount: <span class="font-bold">{{ guaranteed_amount|intcomma }}</span></p>
        {% endif %}
    </div>
    <a href="{% url 'loans:start_application' member.id if member else entity.id %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-md">Start Loan Application</a>
</div>
{% endblock %}
