<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dropdown Menu</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <style>
        .dropdown-submenu {
            position: relative;
        }
        .dropdown-submenu > .dropdown-menu {
            top: 0;
            left: 100%;
            margin-top: -6px;
        }
        .dropdown-submenu:hover > .dropdown-menu {
            display: block;
        }
        .dropdown-submenu > a::after {
            content: ">";
            float: right;
            margin-left: 5px;
        }
    </style>
</head>
<body>
    <div class="container my-4">
        <ul class="nav nav-pills justify-content-center">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="menu1Dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Edit Entity Accounts
                </a>
                <div class="dropdown-menu" aria-labelledby="menu1Dropdown">
                    <a class="dropdown-item" href="#">Deposit</a>
                    <a class="dropdown-item" href="#">Withdraw</a>
                    <a class="dropdown-item" href="#">Repay Loan</a>
                    <a class="dropdown-item" href="#">Issue Loan</a>
                    <a class="dropdown-item" href="#">Entity Exit Advice slip</a>
                        
                    </div>
                </div>
            </li>
           
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="menu1Dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Entity Reports
                </a>
                <div class="dropdown-menu" aria-labelledby="menu1Dropdown">
                    <a class="dropdown-item" href="#">Generate Entity Statement</a>
                    <a class="dropdown-item" href="#">Generate savings Report</a>
                    <a class="dropdown-item" href="#">Generate Loans Report</a>
                    <a class="dropdown-item" href="#">Generate S/capital Report</a>
                    <a class="dropdown-item" href="#">All Accounts Report</a>
                        
                    </div>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="menu2Dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Edit Records
                </a>
                <div class="dropdown-menu" aria-labelledby="menu2Dropdown">
                    <a class="dropdown-item" href="#">Add New Entity </a>
                    <a class="dropdown-item" href="#">Edit Personal details </a>
                    <a class="dropdown-item" href="#">Edit Officials </a>
                    <div class="dropdown-submenu">
                        <a class="dropdown-item dropdown-toggle" href="#">Other</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Deactivate Entity</a>
                            <a class="dropdown-item" href="#"></a>
                        </div>
                    </div>
                    <a class="dropdown-item" href="#">Menu 2.3</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="menu3Dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Entity Statistics
                </a>
                <div class="dropdown-menu" aria-labelledby="menu3Dropdown">
                    <a class="dropdown-item" href="#">Entity Membership Stats</a>
                    <a class="dropdown-item" href="#">Entity Accounts Stats</a>
                    <a class="dropdown-item" href="#">Entity Joining Stats</a>
                    <a class="dropdown-item" href="#">Dormant Entities</a>
                    <a class="dropdown-item" href="#">Top savers</a>
                    <a class="dropdown-item" href="#">Top borrowers</a>
                    <div class="dropdown-submenu">
                        <a class="dropdown-item dropdown-toggle" href="#">Other</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Dominant Entity Location</a>
                            <a class="dropdown-item" href="#">Non member Next of Kin</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <script>
        $(document).ready(function() {
            // Show dropdown on hover
            $('.nav-item.dropdown').hover(function() {
                $(this).find('.dropdown-menu').first().stop(true, true).delay(250).slideDown();
            }, function() {
                $(this).find('.dropdown-menu').first().stop(true, true).delay(100).slideUp();
            });

            // Handle submenu dropdown click
            $('.dropdown-submenu a.dropdown-toggle').on("click", function(e) {
                e.stopPropagation();
                var $subMenu = $(this).next(".dropdown-menu");
                if ($subMenu.hasClass('show')) {
                    $subMenu.removeClass('show').slideUp();
                } else {
                    $(this).closest('.dropdown-menu').find('.dropdown-menu.show').removeClass('show').slideUp();
                    $subMenu.addClass('show').slideDown();
                }
            });

            // Prevent closing from click inside dropdown
            $('.dropdown-menu').on('click', function(e) {
                e.stopPropagation();
            });
        });
    </script>
</body>
</html>
