{% extends 'base.html' %}
{% load humanize %}
{% block title %}
    View Members - AKIBANIPESA
{% endblock %}

{% block content %}
    <div class="container mx-auto mt-8 px-4">
        <h1 class="text-2xl font-bold mb-4">View Groups</h1>
        <input type="text" id="searchInput" onkeyup="searchTable()" placeholder="Search for groups..." class="w-full p-2 mb-4 border border-gray-300 rounded-md">
        <table class="table" id="membersTable">
            <thead>
                <tr>
                    <th>Group ID</th>
                    <th>Name</th>
                    <th>Office Phone Number</th>
                    <th>Email</th>
                    <th>Loan Amount</th>
                    <th>Savings Amount</th>
                    <th>Share Capital Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for group in groups %}
                
                    <td>{{group.id }}</td>
                    <td>{{ group.entity_name }}</td>
                    <td>{{ group.office_phone_number }}</td>
                    <td>{{ group.email }}</td>
                    <td>{{ group.account.loan|intcomma }}</td>
                    <td>{{ group.account.savings|intcomma }}</td>
                    <td>{{ group.account.share_capital|intcomma }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="6">No groups found.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <style>
        /* Add border and styling for the table */
        .table {
            width: 100%;
            border-collapse: collapse;
        }

        .table th,
        .table td {
            border: 1px solid #e2e8f0; /* Add border to table cells */
            padding: 0.75rem;
            text-align: left;
        }

        .table th {
            background-color: #f7fafc;
            border-bottom-width: 2px;
        }

        .table tbody tr:nth-child(odd) {
            background-color: #edf2f7;
        }
    </style>
    <script>
        function searchTable() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("searchInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("membersTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                var matchFound = false;
                td = tr[i].getElementsByTagName("td");
                for (var j = 0; j < td.length; j++) {
                    if (td[j]) {
                        txtValue = td[j].textContent || td[j].innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            matchFound = true;
                        }
                    }
                }
                if (matchFound) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    </script>
{% endblock %}
