{% extends 'base.html' %}
{% block title %}Upload Bulk Members{% endblock %}

{% block content %}
{% include 'more_menu_registry.html' %}

<div class="container mx-auto mt-8 p-4">
    <h1 class="text-3xl font-bold mb-4">Upload Bulk Members</h1>
    
    <a href="{% url 'registry:download_member_excel_template' %}" class="btn btn-secondary mb-4">Download Excel Template</a>
    
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
{% endblock %}
