{% extends 'base.html' %}
{% load humanize %}
{% block title %}
    Dashboard - AKIBANIPESA
{% endblock %}

{% block content %}
  {% include 'more_menu_members.html' %}
    <div class="container mx-auto mt-8">
        <h1 class="text-3xl font-bold mb-6">System Dashboard</h1>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
            <div class="bg-blue-500 text-white p-6 rounded-lg shadow-lg">
                <h2 class="text-2xl font-bold">Summary</h2>
                <p>Total Members: {{ members_count|intcomma }}</p>
                <p>Total Entities: {{ entities_count|intcomma }}</p>
                <p>Total Savings: {{ total_savings|intcomma }}</p>
                <p>Total Share Capital: {{ total_share_capital|intcomma }}</p>
            </div>
            <div class="bg-yellow-500 text-white p-6 rounded-lg shadow-lg">
                <h2 class="text-2xl font-bold">Loans</h2>
                <p>Active Loans: {{ active_loans|intcomma }}</p>
                <p>Pending Loans: {{ pending_loans|intcomma }}</p>
                <p>Defaulted Loans: {{ defaulted_loans|intcomma }}</p>
                <p>Total Loan Amount: {{ total_loan_amount|intcomma }}</p>
                <p>Total Repaid Amount: {{ total_repaid_amount|intcomma }}</p>
            </div>
            <div class="bg-green-500 text-white p-6 rounded-lg shadow-lg">
                <h2 class="text-2xl font-bold">Income</h2>
                <p>Total Income: {{ total_income|intcomma }}</p>
                <p>Total Expenses: {{ total_expenses|intcomma }}</p>
                <p>Net Profit: {{ net_profit|intcomma }}</p>
            </div>
            <div class="bg-purple-500 text-white p-6 rounded-lg shadow-lg">
                <h2 class="text-2xl font-bold">Sacco Accounts</h2>
                <p>Total Accounts: {{ sacco_accounts_count|intcomma }}</p>
                <p>Total Account Balance: {{ total_account_balance|intcomma }}</p>
            </div>
            <div class="bg-red-500 text-white p-6 rounded-lg shadow-lg">
                <h2 class="text-2xl font-bold">M-Pesa Reconciliation</h2>
                <p>Total Reconciled: {{ total_reconciled|intcomma }}</p>
                <p>Total Unreconciled: {{ total_unreconciled|intcomma }}</p>
                <p>Total Paid In: {{ total_paid_in|intcomma }}</p>
            </div>
            <div class="bg-indigo-500 text-white p-6 rounded-lg shadow-lg">
                <h2 class="text-2xl font-bold">Finance</h2>
                <p>Total Reconciled: {{ total_reconciled|intcomma }}</p>
                <p>Total Unreconciled: {{ total_unreconciled|intcomma }}</p>
                <p>Total Paid In: {{ total_paid_in|intcomma }}</p>
            </div>
        </div>
    </div>
{% endblock %}
