{% extends 'base.html' %}
{% block title %}
    Add Member - AKIBANIPESA
{% endblock %}

{% block content %}
{% include 'more_menu_members.html' %}
<head>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'members/css/styles.css' %}">
</head>
<body>
    <div class="container">
      
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ member_form.as_p }}
            {{ account_form.as_p }}
            {{ next_of_kin_form.as_p }}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    {% endblock %}
